.assetSection {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 12px;
  width: 100%;
  padding: 24px 24px 24px 0;

  &__item {
    width: 100%;
    box-sizing: border-box;
    background-color: #D9D9D9;
    border-radius: 8px;
    animation: pulse 2s ease-in-out infinite;
    height: 13.125rem;
  }

  &--icon {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    grid-template-rows: 140px;

    .assetSection__item {
      height: 140px;
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}